.edit {
	display: none !important;
}

.edit.on {
	display: block !important;
}

#editor {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-input {
	display: block;
	width: 100%;
	padding: 10px 15px;
	margin-left: -15px;
	appearance: none;
	border: none;
	border-radius: 3px;
	background-color: #F3F3F3;
	margin-top: 15px;
	font-size: 20px;
	outline: none;
	font-family: 'Shadows Into Light', Arial, sans-serif;
}

.todo-submit {
	width: fit-content;
	margin: 10px 10px 30px 10px;

	display: block;
	max-width: 200px;
	appearance: none;
	border: none;
	outline: none;
	border-radius: 3px;
	background: none;
	background-color: #6c429c;
	color: #FFF;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;
	transition: all 0.2s ease-in-out;
}

.todo-submit:hover {
	cursor: pointer;
	transform: translateY(-3px);
	box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
	fill: rgb(105, 103, 103);
	opacity: 0.8;
}

.todo-submit.secret {
	display: none;
}

.secret-field.secret-input {
	display: block;
}

.secret-field {
	display: none;
}

.edit-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#delete {
	padding: 9px 12px !important;
	appearance: none;
	border: none;
	outline: none;
	border-radius: 3px;
	background: none;
	background-color: rgb(221, 0, 49);
	color: #FFF;
	padding: 3px 6px;
	font-weight: 700;
	transition: all 0.2s ease-in-out;
}

#secret{
	padding: 9px 12px !important;
	appearance: none;
	border: none;
	outline: none;
	border-radius: 3px;
	background: none;
	background-color: #6c429c;
	color: #FFF;
	padding: 3px 6px;
	font-weight: 700;
	transition: all 0.2s ease-in-out;
}