.todo {
	display: flex;
	width: fit-content;
	margin: auto;
}

/* makes every other child haeva different colored background
.todo:nth-child(even) {
	background-color: #EEE;
} */

.todo:last-of-type {
	border-bottom: 0;
}

.todo .id {
	flex: 1 1 50px;
}

.todo .todo-content {
	flex: 1 1 100%;
	padding: 2px 15px 2px 4px;
}

.todo.done .todo-content {
	text-decoration: line-through;
}

.submit.off {
	display: none;
}

.submit.on {
	display: block;
}

.todo-input {
	display: block;
	width: 100%;
	padding: 10px 15px;
	margin-left: -15px;
	appearance: none;
	border: none;
	border-radius: 3px;
	background-color: #F3F3F3;
	margin-top: 15px;
	font-size: 20px;
	outline: none;
	font-family: 'Shadows Into Light', Arial, sans-serif;
}

.todo-submit {
	display: block;
	width: 100%;
	max-width: 200px;
	appearance: none;
	border: none;
	outline: none;
	border-radius: 3px;
	background: none;
	background-color: #6c429c;
	color: #FFF;
	margin: 15px auto;

	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;

	transition: all 0.2s ease-in-out;
}

.todo-submit:hover {
	cursor: pointer;
	transform: translateY(-3px);
	box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
	fill: rgb(105, 103, 103);
	opacity: 0.8;
}

.delete {
	appearance: none;
	border: none;
	outline: none;
	border-radius: 3px;
	background: none;
	background-color: rgb(221, 0, 49);
	color: #FFF;
	padding: 3px 6px;
	font-weight: 700;
	transition: all 0.2s ease-in-out;
}

.delete#all {
	float: right;
	padding: 9px 12px !important;
}

.delete:hover {
	cursor: pointer;
	transform: translateY(-3px);
	box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
	fill: rgb(105, 103, 103);
	opacity: 0.8;
}

.edit {
	appearance: none;
	border: none;
	outline: none;
	border-radius: 3px;
	background: none;
	background-color: #6c429c;
	color: #FFF;
	padding: 3px 6px;
	margin-right: 8px;
	font-weight: 700;
	transition: all 0.2s ease-in-out;
}

.edit:hover {
	cursor: pointer;
	transform: translateY(-3px);
	box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
	fill: rgb(105, 103, 103);
	opacity: 0.8;
}


.edit.off {
	display: none;
}

.populate {
	float: left;
	border: none;
	outline: none;
	border-radius: 3px;
	background-color: #6c429c;
	color: #FFF;
  padding: 9px 12px;
	font-weight: 700;
	transition: all 0.2s ease-in-out;
}

.populate:hover {
	cursor: pointer;
	transform: translateY(-3px);
	box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
	fill: rgb(105, 103, 103);
	opacity: 0.8;
}
